mat-sidenav-container {
  height: 100%;
  width: 100%;
}
mat-sidenav {
  min-width: 270px;
  max-width: 100%;
}
mat-sidenav-content mat-toolbar {
  justify-content: space-between;
}
mat-toolbar.sidenav-toolbar {
  justify-content: space-between;
}
.mat-expansion-panel, mat-sidenav, mat-toolbar.sidenav-toolbar, .mat-expansion-panel-header-title {
  background-color: #673ab7;
  color: #FFFFFF;
}
.mat-expansion-panel {
  box-shadow: none;
}
::ng-deep .mat-expansion-indicator::after {
  color: #FFFFFF !important;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-close {
  font-size: 24px;
}
.mat-list-base .mat-list-item {
  font-size: 17px;
  color: #FFFFFF;
  text-decoration: none;
}
.logout {
  color: #FFFFFF;
  text-decoration: none;
}
.logout:hover {
  color: #FFFFFF;
}