
  

  <form class="add-expenses-form" [formGroup] = "addexpensesForm">
    <table class="full-width" cellspacing="0"><tr>
      <td>
        <h4>Expense made by :</h4>
        <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter name or emailaddress</mat-label>
        <input matInput formControlName = "expenseMadeBy">
      </mat-form-field></td>
      <td>
        <h4>Spent On :</h4>
        <mat-form-field appearance="fill">
          <mat-label>Spent On</mat-label>
          <mat-select formControlName = "spentOn">
            <mat-option *ngFor="let category of spentCategories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </td>
    </tr>
    <tr>
      <td>
        <h4>Enter amount to the nearest rupee :</h4>
        <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter amount</mat-label>
        <input matInput formControlName = "amount">
      </mat-form-field></td>
    </tr>
    <tr>
      <td>
        <h4>Expense shared with :</h4>
        <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter name or emailaddress</mat-label>
        <input matInput formControlName = "expenseSharedWith">
      </mat-form-field></td>
      <td>
      <h4>Spent On :</h4>
        <mat-form-field appearance="fill">
          <mat-label>Expense to be split :</mat-label>
          <mat-select formControlName = "expenseToBeSplit">
            <mat-option *ngFor="let category of splitCategories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </td>
    </tr></table>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" [disabled]="!addexpensesForm.valid" (click)="onSubmit();">Save changes</button>
  </div>
  
